<template>
    <div class="{{ componentName }}"></div>
</template>

<script src="./_{{ componentName }}.js" lang="js"></script>
<style src="./_{{ componentName }}.less" lang="less" scoped></style>
